.Circles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 4px solid lightsalmon;
    border-radius: 8px;
  }
  
  .Circles div {
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightsalmon;
    color: peachpuff;
    font-size: 30px;
    border: 5px solid lightsalmon;
    border-radius: 50%;
    margin: auto 10px;
  }
  
  /* Another dose of dynamic className goodness is the winning ticket */
  .Circles div.selected {
    background-color: peachpuff;
    color: palevioletred;
    border: 5px solid palevioletred;
  }